[Unit]
Description=NetworkManager Helper for 4GPi
Wants=dev-tty4GPI.device
After=dev-tty4GPI.device

[Service]
Type=simple
ExecStart=/usr/sbin/4gpi-dbus-watcher
Restart=always

[Install]
WantedBy=multi-user.target

