Source: 4gpi-networkmanager
Section: net
Priority: optional
Maintainer: Yuta Kiyonaga <kiyonaga@mechatrax.com>
Uploaders: Masahiro Honda <honda@mechatrax.com>
Build-Depends: debhelper-compat (= 12), bash-completion
Standards-Version: 4.6.2
Vcs-Git: https://github.com/mechatrax/4gpi-networkmanager.git
Vcs-browser: https://github.com/mechatrax/4gpi-networkmanager
Homepage: https://mechatrax.com/

Package: 4gpi-networkmanager
Architecture: all
Conflicts: 4gpi-networkmanager
Depends: ${misc:Depends}, python3, python3-gi, python3-dbus, network-manager, modemmanager, 4gpi-utils, gir1.2-modemmanager-1.0, gir1.2-nm-1.0, gir1.2-qmi-1.0
Description: NetworkManager settings and helper tools for 4GPi
 This package contains udev rules and helper tools for using 4GPi with
 NetworkManager.
